* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gallery {
    text-align: center;
}

#gallery h2 {
    margin-bottom: 1em;
    margin-top: 2em;
}

.slider {
    width: 1000px;
    height: 500px;
    outline: 1px solid #333;
    position: relative;
    margin: 0 auto;
}

.slider > img {
    position: absolute;
    left: 0;
    top: 0;
}

/* 현재 이미지 fadein 나머지 이미지 fadeout */

.prevBtn, .nextBtn {
    padding: 5px;
    margin: 10px 0;
}